@import "./styles/Newsdetail" ; 
@import "./styles/loader" ;
@import "./styles/home" ;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #211f2b;
 font-family: 'Comfortaa';
 min-width: 100vw;
 min-height: 100vh;
 .heading {
   display: flex;
   justify-content: flex-start;
   color: #ebdddd;
   padding-left: 150px;
   padding-top: 70px;
   @media screen and (max-width:800px){
     justify-content: center;
     padding-left: 0;
     padding-top: 20px;
     padding-bottom: 10px;
     
   }
 }
}
